@media print {
  .oculto {
    display: none; }
    .oculto #acuerdo {
      width: 50%; } }

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: auto;
  min-height: 850px;
  background-color: #faf7f0;
  background-size: cover;}

.container {
  width: 100%;
  height: auto;
  min-height: 700px;
  margin: auto;
  display: flex;
  justify-content: center; 
  padding: 10px;
  box-sizing: border-box;
}
form {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  background-color: #faf6d4;
  width: 700px;
  margin: 30px auto;
  border-radius: 15%;
  padding: 15px; 
  box-shadow: -2px 0px 35px 10px #ed4556;
  box-sizing: border-box;
  }
  form fieldset {
    background-color: #f2d5a7;
    border: none;
    border-radius: 15%;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    min-width: 100px;
    width: 75%;
    height: auto; }
    form fieldset label {
      color: black; }
    form fieldset input {
      margin-top: 5px;
      height: 25px;
      border: solid rgb(1, 1, 71) 1.5px;
      margin-bottom: 20px; }
    form fieldset .imputSize {
      width: 80%;
    }
    form fieldset select {
      font-size: 15px; }

button {
  margin: 15px;
  padding: 10px;
  background-color: #f26c3f;
  border-radius: 10%;
  font-weight: 800;
  width: 150px;
  border: none;
  box-shadow: #75040f -1px 2px 2px;
  color: white;
  cursor: pointer; }

button:hover {
  background-color: #b91ae0;
  transform: scale(1.1, 1.1);
  transition: 2s; }

#formularioDos {
  display: none; }

#acuerdo {
  margin-top: 25px;
  width: 90%;
  font-size: 12px;
  display: none;
  text-align: center;
  background-color: white;
  padding: 10px;  
  box-sizing: border-box;}
  #acuerdo p {
    text-align: justify; }
  #acuerdo h2 {
    text-align: center;
    width: 100%; }
  #acuerdo p {
    width: 100%;
    line-height: 23px; }
  #acuerdo #firma {
    margin-bottom: 50px; }
    #acuerdo #firma p {
      text-align: center;
      font-weight: 600; }

#resultado {
  margin: 15px auto;
  text-align: center;
  width: auto;
  text-align: center;
  border: solid 3px black;
  padding: 10px;
  display: none;
  box-sizing: border-box;
  background-color: white;
  box-shadow: -2px 0px 35px 10px #ed4556; }
  #resultado table {
    margin: auto; }
    #resultado table th {
      width: 300px;
      padding: 5px;
      text-align: left;
      font-weight: 300; }
  #resultado #fechaLiq {
    margin-top: 50px; }

#firma {
  display: flex;
  justify-content: space-evenly; }

#formulario {
  display: none; }

#break {
  page-break-after: always; }

.none {
  display: none; }
#resultado .totales{
  font-weight: 800;
}
